<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <!--
        Customize the content security policy in the meta tag below as needed. Add 'unsafe-inline' to default-src to enable inline JavaScript.
        For details, see http://go.microsoft.com/fwlink/?LinkID=617521
    -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" >

    <!-- BlankCordovaApp1 references -->
    <title>Timer</title>
    <link href="scripts/ionic/css/ionic.min.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />

    <script src="scripts/platformOverrides.js"></script>

    <script src="scripts/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="scripts/ionic/js/ionic.bundle.min.js"></script>
    <!-- Cordova reference, this is added to your app when it's built. -->
    <script src="cordova.js"></script>
    <style>
        .timer {
            background-color: black;
            color: white;
            text-align: center;
        }

        .delayedtimer {
            background-color: darkblue;
            color: lightgray;
            text-align: center;
        }
    </style>
    <script>
        angular.module('timerApp', [])
        .controller('timerCtrl', function ($scope, $document) {
            $scope.time = new Date(1985, 01, 01, 00, 00, 00, 00);
            $scope.timer = null;
            $scope.delayedtime = new Date(1985, 01, 01, 00, 00, 10, 00);
            $scope.delayedtimer = null;

            $scope.startTimer = function () {
                $document.find('#body').addClass("dan2"); //css('background-color', 'red');
                $scope.running = true;
                $scope.timer = setInterval(updateTimer, 1000);
            };

            $scope.running = false;
            $scope.countDown = false;

            $scope.stopTimer = function () {
                $scope.running = false;
                clearInterval($scope.timer);
            };

            $scope.resetTimer = function () {
                $scope.time = new Date(1985, 01, 01, 01, 00, 00, 00);
                //$scope.$apply();
            };

            function updateTimer(time) {
                if (!$scope.countDown)
                    $scope.time.setSeconds($scope.time.getSeconds() + 1);
                else
                    $scope.time.setSeconds($scope.time.getSeconds() - 1);
                $scope.$apply();
            };
        })
        .run(['$document', function ($document) {
            //var x = angular.element('#text').contents(); //css('color','yellow');
            //$document.find('#body').attr('style', 'background-color:gary'); //addClass("dan"); //css('background-color', 'red');
            //$document.find('#body').css('width', '100px'); //addClass("dan"); //css('background-color', 'red');
            //$('#text').css('color', 'red');
            //x;
            //$document.find('#timer').addClass('timer');
            //$document.find('#delayedtimer').addClass('delayedtimer');
        }])
    </script>
</head>
<body ng-controller="timerCtrl" id="body" style="padding:0;line-height:100px">
    <ion-view title="Timer">
        <ion-content padding="false" class="has-header has-footer">
            <div id="timer" class="row responsive-lg" style="padding:0">
                <div class="timer col" style="text-align:center;font-size:60pt;">
                    {{time | date:'mm:ss'}} 
                </div>
            </div>
            <div class="button-bar bar-footer ">
                <button class="button button-stable button-positive   icon ion-power" ng-click="startTimer()" ng-disabled="running"> Start</button>
                <button class="button button-stable button-assertive  icon ion-close-circled" ng-click="stopTimer()" ng-disabled="!running"> Stop</button>
                <button class="button button-stable button-energized  icon ion-refresh" ng-click="resetTimer()"> Reset</button>
            </div>
        </ion-content>
    </ion-view>
</body>
</html>